/* regular elements: selectors
elements with class name: class selectors */

/* Even when your div has no text, it's still treated as a box with content. */
.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    /* Adding padding all around has changed its dimensions to 502px x 602px.
    Replace padding property with overflow set to hidden -
    changing the canvas back to its original dimensions. */
    /* padding: 1px; */
    overflow: hidden;
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    /* Precondition: Frame is too wide */
    width: 500px;
    /* To increase space between .frame and .canvas */
    padding: 50px;
    /* This will move the frame down 20px and horizontally centre it on page. */
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    /* offset-x | offset-y | blur-radius | spread-radius | colour */
    box-shadow: 0 0 3px 3px #efb762;
    border-radius: 9px;
    /* Rotate it counter clockwise by 0.6 degrees */
    transform: rotate(-0.6deg);
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    /* top | horizontal | bottom */
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    /* top-left and bottom-right radius | top-right and bottom-left radius */
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}

.one, .two {
    filter: blur(1px);
}

.three {
    width: 91%;
    height: 28%;
    background: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 30px 25px 60px 12px;
    transform: rotate(-0.2deg);
}